@media only screen and (max-width: 1130px) {
  .container {
    width: 90rem;
  }

  .future-grid-head {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 64rem) {
  .container {
    /* max-width: 90%; */
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menu-links {
    display: none;
  }

  .hidden {
    display: block;
  }

  .future-grid {
    grid-template-columns: 1fr;
  }

  .future-grid-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .future-grid-paragraph {
    font-size: 1.6rem;
  }

  .btn {
    margin-top: 2rem;
  }

  .insight {
    grid-template-columns: 1fr;
  }

  .insight-imgs {
    height: 18rem;
    width: 18rem;
  }
}
